<html>

<body>

<h1> Updates </h1>

<br>

<button onclick='window.location.href="/motive/<%- id %>/updates/create"' id='update'> create an update </button>

<script>

    let creater = <%= creater %>;

    if (!creater) {
        document.getElementById('update').disabled = true;
        document.getElementById('update').style.display = 'none';
    }

    let updates = <%- JSON.stringify(data) %>;
    updates = updates.reverse()

    updates.forEach(update => {
        let UelementText = document.createElement('p')
        UelementText.innerHTML = update.text;
        UelementText.addEventListener('click', () => {
            window.location.href = `/motive/<%- id %>/update/${update.ID}`
        })
        let UelementTimestamp = document.createElement('p')
        UelementTimestamp.innerHTML = new Date(update.timestamp).toDateString();
        document.body.appendChild(UelementTimestamp);
        document.body.appendChild(UelementText);
        document.body.appendChild(document.createElement('br'));
    });
</script>

</body>

</html>